
@media only screen and (min-width: 768px)  {
    .home_text .man_1{
        margin-top: 150px;
    }
    .img_man4 img{
        width: 100%;
    }
    .container_3{
        width: 80%;
        margin: 30px auto;
        display: flex;
        flex-direction: column;
    }
   }